<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.westriver.dao.CartMapper">
    <resultMap id="BaseResultMap" type="com.westriver.pojo.Cart" >
        <constructor >
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
            <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
            <arg column="product_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
            <arg column="quantity" jdbcType="INTEGER" javaType="java.lang.Integer" />
            <arg column="checked" jdbcType="BIT" javaType="java.lang.Boolean" />
            <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
            <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
        </constructor>
    </resultMap>

    <sql id="Base_Column_List">
        id, user_id, product_id, quantity, checked, create_time, update_time
    </sql>

    <insert id="addProduct" parameterType="com.westriver.pojo.Cart">
        INSERT INTO mall_cart (user_id, product_id, quantity, checked, create_time, update_time)
        VALUES (
          #{userId},
          #{productId},
          #{quantity},
          #{checked},
          now(),
          now()
        )
    </insert>

    <select id="selectProductById" parameterType="map" resultType="com.westriver.pojo.Cart">
        SELECT <include refid="Base_Column_List" /> FROM mall_cart WHERE user_id = #{userId} and product_id = #{productId}
    </select>

    <update id="updateProduct" parameterType="com.westriver.pojo.Cart">
        UPDATE mall_cart
        <set>
            <if test="quantity != null">
                quantity = #{quantity},
            </if>

            <if test="checked != checked">
                checked = #{checked},
            </if>

            update_time = now()
        </set>

        WHERE id = #{id}

    </update>

    <select id="selectByUserId" parameterType="int" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" /> FROM mall_cart WHERE user_id = #{userId}
    </select>
</mapper>